In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Setting sns plotting 
sns.set(style="whitegrid", palette="muted", font_scale=1.2)

In [11]:
#data loading
data_path = "../raw/train.csv"
df = pd.read_csv(data_path)

In [12]:
#quick peek
print("Shape of dataset:", df.shape)
df.head()

Shape of dataset: (10000, 9)

,field_id,soil_ph,organic_matter,sand_pct,temperature,humidity,rainfall,ndvi,yield
0,F00001,6.25,2.66,41.6,25.2,70,110.2,0.46,4105.8
1,F00002,6.70,3.66,40.2,26.9,78,126.3,0.59,4247.8
2,F00003,7.21,3.45,40.0,27.6,66,109.4,0.64,4021.8
3,F00004,5.73,2.48,56.9,29.6,79,155.3,0.62,4326.8
4,F00005,6.88,3.61,30.6,25.0,80,172.6,0.62,3708.0

In [14]:
#basic info
df.info()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   field_id        10000 non-null  object
 1   soil_ph         10000 non-null  float64
 2   organic_matter  10000 non-null  float64
 3   sand_pct        10000 non-null  float64
 4   temperature     10000 non-null  float64
 5   humidity        10000 non-null  int64
 6   rainfall        10000 non-null  float64
 7   ndvi            10000 non-null  float64
 8   yield           10000 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 703.3+ KB

,count,mean,std,min,25%,50%,75%,max
soil_ph,10000.0,6.508556,0.579959,5.5,6.00,6.51,7.010,7.50
organic_matter,10000.0,2.748447,0.717645,1.5,2.13,2.75,3.360,4.00
sand_pct,10000.0,44.957850,8.652910,30.0,37.50,45.00,52.400,60.00
temperature,10000.0,26.993920,1.736847,24.0,25.50,27.00,28.500,30.00
humidity,10000.0,74.523400,5.775101,65.0,70.00,75.00,80.000,84.00
rainfall,10000.0,140.033850,23.026794,100.0,120.20,140.10,160.200,180.00
ndvi,10000.0,0.574883,0.100168,0.4,0.49,0.57,0.660,0.75
yield,10000.0,4251.976400,436.533109,3500.2,3868.05,4257.15,4638.325,5000.00

In [15]:
df.isnull().sum()

field_id          0
soil_ph           0
organic_matter    0
sand_pct          0
temperature       0
humidity          0
rainfall          0
ndvi              0
yield             0
dtype: int64