In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Setting sns plotting 
sns.set(style="whitegrid", palette="muted", font_scale=1.2)

In [11]:
#data loading
data_path = "../raw/train.csv"
df = pd.read_csv(data_path)

In [12]:
#quick peek
print("Shape of dataset:", df.shape)
df.head()

Shape of dataset: (10000, 9)

,field_id,soil_ph,organic_matter,sand_pct,temperature,humidity,rainfall,ndvi,yield
0,F00001,6.25,2.66,41.6,25.2,70,110.2,0.46,4105.8
1,F00002,6.70,3.66,40.2,26.9,78,126.3,0.59,4247.8
2,F00003,7.21,3.45,40.0,27.6,66,109.4,0.64,4021.8
3,F00004,5.73,2.48,56.9,29.6,79,155.3,0.62,4326.8
4,F00005,6.88,3.61,30.6,25.0,80,172.6,0.62,3708.0